@model BulgarianHistory.Data.Entities.City

@{
    ViewData["Title"] = "Добавяне на град";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Create" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ImageUrl" class="form-label"></label>
        <input asp-for="ImageUrl" class="form-control" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Latitude" class="form-label"></label>
        <input asp-for="Latitude" class="form-control" />
        <span asp-validation-for="Latitude" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Longitude" class="form-label"></label>
        <input asp-for="Longitude" class="form-control" />
        <span asp-validation-for="Longitude" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">Запази</button>
    <a asp-action="Index" class="btn btn-secondary">Назад</a>
</form>
