@using BulgarianHistory.Data.Entities
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link text-warning fw-semibold" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
            Здравей, @User.Identity?.Name!
        </a>
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" method="post"
              asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="nav-link btn btn-link text-warning fw-semibold"
                    style="text-decoration: none; padding: 0; margin-left: 10px;">
                Logout
            </button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-warning fw-semibold" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-warning fw-semibold" asp-area="Identity" asp-page="/Account/Login">Вход</a>
    </li>
}
</ul>
